<%- include('partials/header') %>
<nav id="nv">
    <a href="/"><strong>Home</strong></a>
    
    <a href="/register"><strong>Register</strong></a>
    <a href="/login"><strong>Login</strong></a>
  </nav>
  <div id="info">
      <h1>About the application</h1>
      <hr style="border-width:10px;color:black">
      <h2>Hi dear user. This is a chat application. You can start chatting with your friends by adding them to your contact list using their email.</h2>
  </div>
  
<%- include('partials/footer') %>