<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Simple Group Chat on Node.js</title>
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        body { font: 13px Helvetica, Arial; font-size: 1vw;}
        #form2 #em { border-style: solid;position:absolute;bottom: 35%;left:20%; border-width: 1%; padding: 3%; width: 17vw;height: 1.2vh; margin-right: .5%; }
        /* #frm3 #create_group { border-style: solid; border-width: 1%; padding: 3%; width: 14vw;height: 1.2vh; margin-right: .5%; } */
        #form2 #btn1 { background: rgb(130, 224, 0); position:absolute;bottom:35%;left:67.7%; padding: 3%;height:5vh; border-radius: 10%;font-size:1vw;}
        #form1 input { border-style: solid;position:fixed;bottom: 1%; border-width: 1px; padding: 1%; width: 64%;height: 6%; margin-right: .5%; border-radius: 2%;}
        #form1 button {font-size: large;width: 10%; background: rgb(130, 224, 255); position:fixed;bottom:1%;left:84.7%; padding: 1%;height:6%; border-radius: 10%;}
        #frm2dv1 {position: relative; height:5vh;}
        #frm2dv2 {position: relative;top:50%; height: 5vh;}
        /* #frm3 #form3 { position:relative;top:70%; margin-right: .5%; } */
        #messages {list-style-type: none; margin: 0%; padding: 0%; }
        #messages li {padding: 4%; }
        #frm{
          margin-left: 20.5%;
          width: 74%;
        }
        #frm2{
          position:fixed;
          top: 0%;
          left:0%;
          width:20%;
          bottom: 0%;
          border-right:solid black 2px;
        }
        #frm3{
          position:fixed;
          top: 0%;
          right:0%;
          width:5%;
          bottom: 0%;
          background:lightblue;
          border-left:solid black 2px;
        }
        #users{
          height: 1000%;
          overflow:scroll;
        }
        #users li {
          height:15%;
          padding:6%;
          background-color: greenyellow;
          border:solid black 4px;
        }
        #users li:hover{
          background-color: bisque;
        }
        #groups{
          height: 800%;
          overflow:scroll;
        }
        #groups li {
          height:15%;
          padding:6%;
          background-color: lightcoral;
          border:solid black 4px;
        }
        #groups li:hover{
          background-color: lightblue;
        }
        .swal-button1 {
          background-color: lightcoral;
          }
          .swal-button2 {
          background-color: rgb(130, 224, 0);
          }
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>


  </head>
  <body>
    <div id="frm2">
      <div id="frm2dv1">
        <h1 style="text-align: center;">UserList</h1>
        <hr>
        <ul id="users"></ul>
      </div>
      <div id="frm2dv2">
        <hr>
        <h1 style="text-align: center;">GroupList</h1>
        <hr>
        <ul id="groups"></ul>
      </div>
    </div>
    <div id="frm">
      <ul id="messages"></ul>
      <form id='form1' action="/chatting_page">
        <input id="txt" autocomplete="off" autofocus="on" placeholder="type your message here..." /><button id="btn">Send</button>
      </form>
    </div>
    <div id="frm3"> 
      <input onclick="showProfile()" title="Your Profile" style="position:relative;border-radius: 50%;width:100%;height:10%;background-color: aliceblue;" type="image" src="https://cdn-icons-png.flaticon.com/128/1077/1077012.png" />
      <input onclick="showAddContact()" title="Add Contact" style="position:relative;top:10%;border-radius: 50%;width:100%;height:10%;background-color: aliceblue;" type="image" src="https://cdn-icons-png.flaticon.com/128/3579/3579045.png" />
      <input onclick="showAddGroup()" title="Create a new group" style="position:relative;top:25%;border-radius: 50%;width:100%;height:10%;background-color: aliceblue;" type="image" src="https://cdn-icons-png.flaticon.com/128/3820/3820188.png" />
      <form action="/logout" method="get" style="position:absolute;bottom:10%;">
        <input title="LogOut" style="position:relative;bottom:0%;border-radius: 50%;width:100%;height:10%;background-color: aliceblue;" type="image" src="https://cdn-icons-png.flaticon.com/128/1828/1828490.png" />
        <!-- <button type="submit" style="position:absolute;top:2%;background-color:aqua">logout</button> -->
      </form>
    </div>

    <script>
            var socket = io();
            var cur_usr = "#####";
            var num_of_msg=0;
            var t=0;
            var offline_messages = [];
            var grouplist = [];
            socket.emit('username', '');
            var chaecker = false;
            var parser = new DOMParser();
            var prvelm;
            var privatecht = false;
            var groupcht = false;
            var cur_email="";
            var span = document.createElement("span");
            var addcontactform = document.createElement("form");
            var addgroupform = document.createElement("form");
            addcontactform.id="form2";
            addgroupform.id="form3";
            function simulateClick(x, y) {
                jQuery(document.elementFromPoint(x, y)).click();
            }
            addcontactform.onsubmit = (e)=>{
              e.preventDefault();
              simulateClick(0,0);
              addContact();
            }
            addgroupform.onsubmit = (e)=>{
              e.preventDefault();
              simulateClick(0,0);
              addGroup();
            }
            addcontactform.innerHTML = `<input name="em" id='em' autocomplete="off" type="text" placeholder="Type the email" />`
            addgroupform.innerHTML = `<label for="create_group">Group Name</label><input name="create_group" id="create_group"/>`;
            function showProfile(){
              swal({
                title:"User Profile",
                content:span,
                icon:"info",
                
              })
              
            };
            function showAddContact(){
              swal({
                title:"Contact Add Form",
                content:addcontactform,
                allowEnterKey: true,
                buttons: {
                  cancel:true,
                  // confirm:true,
                  add: {text:"Add Contact!",className:"swal-button2"},
                  // allowEnterKey: true,
                  
                },
                })
                .then(usertoadd=>{
                  if (usertoadd){
                    addContact();
                  }
                });
            }
            function showAddGroup(){
              swal({
                title:"Create Group Form",
                content:addgroupform,
                confirmButtonColor: 'lightcoral',
                cancelButtonText: 'Cancel',
                buttons: {
                  cancel:true,
                  add:{text: "Create Group!",className:"swal-button1"},
                  },
                })
                .then(grouptoadd=>{
                  if (grouptoadd){
                    addGroup();
                  }
                });
            }
            function Ascending_sort(a, b) {
              console.log(b.sendDate,a.sendDate,b.sendDate>a.sendDate);
                      return (b.sendDate >
                          a.sendDate)? 1 : -1; 
                  }
            $('#form2').submit(function(e){
              e.preventDefault();
            });
            $('#form3').submit(function(e){
              e.preventDefault();
            });
            $('#form1').submit(function(e){
                e.preventDefault(); 
                
                socket.emit('chat_message', $('#txt').val(),cur_email,privatecht,groupcht);
                $('#txt').val('');
                return false;
            });
            socket.on('empty_msg_list',()=>{
              $('#messages').empty();
            });
            socket.on('get_offline_messages', function(msg,sendDate,sentHour,sentMinute,sentMonth){
              offline_messages.push({'msg':msg,'sendDate':sendDate,'sentHour':sentHour,'sentMinute':sentMinute,'sentMonth':sentMonth});
              offline_messages =  offline_messages.sort(Ascending_sort);
              offline_messages =  offline_messages.reverse();
              console.log(offline_messages);
            });
            socket.on('show_offline_messages',function(){
              if (offline_messages!==[]){
              offline_messages.forEach(message => {
                msg=message.msg;
                console.log(msg);
                  var usr = "";
                  t=false;
                  for (i=0;i<msg.length;i++){
                    if (msg[i]=='>'){
                      t=true;
                      continue;
                    }
                    if (msg[i]=='<' && t==true){
                      break;
                    }
                    if (t==true){
                      usr+=msg[i];
                    }
                  }
                  if (cur_usr!=usr){
                    if (message.sentMinute<10){
                      $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+message.sentMonth+" "+message.sentHour+":0"+message.sentMinute+"</p>"));
                    }
                    else if (message.sentMinute>=10){
                      $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+message.sentMonth+" "+message.sentHour+":"+message.sentMinute+"</p>"));
                    }
                    // $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg+'\n'+message.sentMonth+" "+message.sentHour+":"+message.sentMinute));
                      $('#messages').append($('<li>').html(""));
                    }
                    
                  else{
                    if (message.sentMinute<10){
                      $('#messages').append($('<li style="color:green;text-align:right;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+message.sentMonth+" "+message.sentHour+":0"+message.sentMinute+"</p>"));
                    }
                    else if (message.sentMinute>=10){
                      $('#messages').append($('<li style="color:green;text-align:right;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+message.sentMonth+" "+message.sentHour+":"+message.sentMinute+"</p>"));
                    }
                      $('#messages').append($('<li>').html(""));
                  }
                  window.scrollBy(0,1000000000);
                  num_of_msg+=1;
              });
              offline_messages=[];
            }
            });

            socket.on('update_groups', (data)=>{
              var html='';
              data.forEach(element => {
                html+='<li onclick="ongroupselect(this.innerHTML,this)">'+element.groupname+`</li>`;
                html+=`<button onclick="addpersontogroup('${element.groupname}')" style="margin-left:0%;">Add Person+</button>`;
              });
              document.getElementById('groups').innerHTML = html;
            });

            socket.on('update_userlist', (data)=>{
              var html='';
              data.forEach(element => {
                if (cur_usr!=element){
                  html+='<li onclick="onuserselect(this.innerHTML,this)">'+element.email+'</li>';
                }
              });
              document.getElementById('users').innerHTML = html;
            });
            function addGroup(){
              if ($("#create_group").val()!=""){
                grouplist.push($("#create_group").val());
                socket.emit('add_group', $('#create_group').val(),cur_email);
              }
              else{
                $('#messages').append($('<li style="color:red;border:solid black 2px;">').html("Please type the group name!"));
                  $('#messages').append($('<li>').html(""));
              }
            }
            function addpersontogroup(groupname){
              console.log(groupname);
              var addeduser = prompt('Please type the email of a person to add to the group!','');
              socket.emit('addpersontogroup',groupname,addeduser,cur_email);
            }
            function addContact(){
              if ($("#em").val()==""){
                $('#messages').append($('<li style="color:red;border:solid black 2px;">').html("Please type the contact name!"));
                  $('#messages').append($('<li>').html(""));
              }
              else if ($("#em").val()==cur_email){
                $("#messages").append($('<li style="color:black;border:solid black 2px;">').html('Cannot add yourself to contactlist!'));
                $('#messages').append($('<li>').html(""));
              }
              else{
                socket.emit('add_contact', $('#em').val(),cur_email);
              }
            }
            function ongroupselect(groupname,elm){
              if (groupcht){
                grp.style.backgroundColor = 'lightcoral';
              }
              grp = elm;
              elm.style.backgroundColor = 'lightblue';
              groupcht =true;
              privatecht=false;
              socket.emit('group_chat',groupname,cur_email);
            }
            function onuserselect(username,elm){
              if (privatecht){
                prv.style.backgroundColor = 'greenyellow';
              }
              prv = elm;
              elm.style.backgroundColor = 'bisque';
              privatecht =true;
              groupcht=false;
              socket.emit('private_chat',username,cur_email,cur_usr);
            }
            socket.on('chat_message', function(msg,username,minutes,hours,month){
              var usr = "";
              t=false;
              for (i=0;i<msg.length;i++){
                if (msg[i]=='>'){
                  t=true;
                  continue;
                }
                if (msg[i]=='<' && t==true){
                  break;
                }
                if (t==true){
                  usr+=msg[i];
                }
              }
              if (cur_usr!=usr){
                if (hours && month && minutes){
                  if (minutes<10){
                    $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+month+" "+hours+":0"+minutes+"</p>"));
                  }
                  else if (minutes>=10){
                    $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+month+" "+hours+":"+minutes+"</p>"));
                  }
                }
                else{
                  $('#messages').append($('<li style="color:red;border:solid black 2px;">').html(msg));
                }
                  $('#messages').append($('<li>').html(""));
                }
                
              else{
                if (hours && month && minutes){
                  if (minutes<10){
                    $('#messages').append($('<li style="color:green;text-align:right;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+month+" "+hours+":0"+minutes+"</p>"));
                  }
                  else if (minutes>=10){
                    $('#messages').append($('<li style="color:green;text-align:right;border:solid black 2px;">').html(msg+'<br><br><p style="color:blue">'+month+" "+hours+":"+minutes+"</p>"));
                  }
                }
                else{
                    $('#messages').append($('<li style="color:green;text-align:right;border:solid black 2px;">').html(msg));
                }
                $('#messages').append($('<li>').html(""));
               }
               window.scrollBy(0,1000000000);
               num_of_msg+=1;
            });
            socket.on('is_online', function(username,cur_em) {
              if (chaecker==false){
                cur_email = cur_em;
                cur_usr = username;
                span.innerHTML = `<strong>email:</strong>${cur_email}\n<strong>username:</strong>${cur_usr}`;
                chaecker=true;
              }
            });
            if (window.performance.navigation.type== window.performance.navigation.TYPE_RELOAD || window.performance.navigation.type== window.performance.navigation.TYPE_BACK_FORWARD){
              socket.emit('disconnect_from_server', cur_email);
              setTimeout(() => {
                window.location.replace('http://ddm-chat.herokuapp.com/login');
                // window.location.replace('http://localhost:3000/login');
              }, 1000);  
            }
            
    </script>
  </body>
</html>
