<%- include('partials/header') %>


<% if(err_message !="" && err_message!="Confirm"){ %>
  <div class="alert alert-danger">
    <strong><%- err_message %></strong> 
  </div>
<% } %>
<% if (err_message=="Confirm"){ %>
  <script>
    swal({
      title: "Confirmation message was sent",
      text:"Check your email",
      icon: "success"
    });
  </script>  
<% } %>
<div class="container mt-5">
  <h1>ResetPassword</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
            <form action="/reset" method="POST">
                <input type="hidden" name="email" value=<% if (locals.email) { %>
                    <%= email %> 
                <% } %> >
                <div class="form-group">
                    <label for="newpassword">NewPassword</label>
                    <input type="password" class="form-control" name="newpassword">
                </div>
                    <div class="form-group">
                    <label for="confirmnewpassword">Confirm NewPassword</label>
                    <input type="password" class="form-control" name="confirmnewpassword">
                </div>
                <button type="submit" class="btn btn-dark">Reset</button>
                <a href="/chatting_page" type="button" class="btn btn-green" style="border: 2px;background-color: aquamarine;">Go Back</a>
            </form>
        </div>
    </div>
  </div>


</div>
</div>

<%- include('partials/header') %>
