
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

#nv{
  padding: 1.5%;
  height:10%;
  background-color:lightblue;
}

#nv a{
  margin:4%;
  text-decoration: none;
}
#nv a strong{
  background:linear-gradient(to right, black 50%, lightblue 50%) right;
  background-size:300%;
  transition: ease 1000ms;
}

#nv a strong:hover{
  background-position: left;
  color:beige;
}

#info{
  position:absolute;
  text-align: center;
  top:30%;
  left:17%;
  width:60%;
}